            body{
                background-image:url('https://codehs.com/uploads/525d9e25d35208374ed99abe0d8fee3b');
                background-size:cover;
                font-size:3em;
            }
            
            h1{
                color:gold;
            }
            
            h2{
                color:cornsilk;
            }
            ul{
                color:white;
            }