div.square {
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: #62e7f5;
    justify-content:center;
    align-items: center;
    display: flex;
    color: Black;
    transition: background-color 1s, color 1s, border-width 1s;
}
div.square:active {
    background-color:#d2f8fc;
    color:gray;
    border-width:3px;
}