table, th, td {
    border: 1px solid black;
    font-size: 30px;
}
.header {
background-color:Chocolate;
color:DarkSeaGreen;
}

.odd {
background-color:CadetBlue;
color:Chartreuse;
}

.even {
background-color:DarkTurquoise;
color:ForestGreen;
}