body{
    background-color:ghostwhite;
}

.header{
    text-align:center;
}

.todo-item{
    font-weight:bold;
}
div.todo-item img{
    width:30px;
    height:30px;
    float:left;
}
div.header img{
    height:75px;
    width:100%;
}