a{
    border-style:solid;
    border-color:black;
    background-color:thistle;
    color:black;
    font-size:18px;
    font-weight:bold;
    padding:10px;
    margin:5px;
}

div{
    background-color:DarkCyan;
    border-style:double;
    padding:20px;
}