body{
    background-color:black;
    color:white;
}

.main{
    margin:10px;
    width:400px;
    display:block;
    
    

}

.small{
    width:100px;
    height:100px;
    padding:5px;
    display:inline;
}